.sidebar{
    flex: 3;
    padding: 0 32px;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
}

.sidebarTitle{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0; 
    text-align: center;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    color: #555;
    margin-bottom: 16px;
}

.sidebarImg{
    width: 100%;
    height: 280px;
}

.sidebarDesc{
    font-size: 17px;
    font-weight: 400;
    margin-top: 16px;
}

.sidebarList{
    list-style-type: none;
}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 8px 0;
    font-weight: 500;
    color: #555;
}

.sidebarSocials{
    text-align: center;
}

.sidebarIcon{
    font-size: 24px;
    color: #555;
    margin: 0 8px;
}